################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HarborUWP/HarborUWP/bin/x86/Debug
/HarborUWP/HarborUWP/obj/ARM
/HarborUWP/HarborUWP/obj/ARM64
/HarborApp/HarborApp
